<div>
    <ng-template #customLoadingTemplate></ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    </div>
    <div *ngIf="loading==false">
<!--start navbar-->
<nav class="logoNav">
    <img src="assets/images/Jms_assets/trackingSystemLogo.svg">
</nav>
<!--end navbar-->

<!--start new password Form Section-->
<section id="newPasswordFormSection">
    <section class="formWrapper">
        <h2>Enter new password</h2>
        <form action="" class="loginForm">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Enter new password" aria-label="password">
            </div>
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Re-enter new password" aria-label="password">
            </div>
            <ol class="newPasswordPolicy">
                <li>Defining The Routes</li>
                <li>Creating The Controller</li>
                <li>Displaying The Validation Errors</li>
            </ol>
            <button type="submit">
                Continue
            </button>
        </form>
    </section>
</section>
</div>
<!--end new password Form Section-->
