<section id="loginFormSection">
    <h2 class="text-center mainHeadSection">Login</h2>
    <section class="formWrapper">

        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_user.svg">
                    </span>
                </div>
                <input placeholder="Enter Username or Email" type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                </div>
            </div>
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input placeholder="Enter Password" type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="resetPassword">
                <a routerLinkActive="active" routerLink="/forgetpassword">Forgot Password ?</a>
            </div>
            <button type="submit" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sign In
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

        </form>
    </section>
</section>
<!--end Login Form Section-->