<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
      <a class="nav-link"  data-toggle="pill" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}" role="tab" >Login</a>
      <a class="nav-link"  data-toggle="pill" routerLinkActive="active" routerLink="/Register" role="tab">Reset Password</a>
    </div>
  </div>
  <div  class="col-3" >
    <router-outlet></router-outlet>
  </div>
</div>

