
<nav class="menuAndNotificationNav">
  <div class="mobileContainer d-flex justify-content-between align-items-center">
    <a href="javascript:void(0);" [attr.data-target]="sideNavElement"  class="sidenav-trigger" *ngIf="currentUser">
      <img src="assets/images/Jms_assets/ic_menu.svg">
    </a>
    <div class="text-center w-100">
      <a routerLinkActive="active" routerLink="/">
        <img src="assets/images/Jms_assets/trackingSystemLogo.svg">
      </a>
    </div>
    <a style="cursor:pointer;" *ngIf="currentUser" class="notificationsNumberNavIcon"
      (click)="navigateToNotifications()">
      <img src="assets/images/Jms_assets/ic_notifications-button.svg">
      <span *ngIf="Notifications.length>0" class="notificationsNumber">
        <span>{{Notifications.length}}</span>
      </span>
    </a>
  </div>
</nav>
<!--end navbar-->

<!--start aside menu-->

<aside  id="slideout" name="slideout" class="sidenav"  >
  <div class="userInfo">
    <img src="assets/images/Jms_assets/user.svg">
    <h2>{{currentUser.fullName}}</h2>
    <button>
      {{currentUser.roles[0].name}}
    </button>
  </div>
  <ul>
    
    <!-- currentUser.roles[0].name != 'Product Line' &&  -->
    <!-- *ngIf="currentUser.roles[0].name == 'Product Line'"
         *ngIf="currentUser.roles[0].name != 'JMS Admin'" 
         *ngIf="currentUser.roles[0].name != 'Product Line' && currentUser.roles[0].name != 'JMS Admin' && currentUser.roles[0].name != 'Dispatcher'"     
         *ngIf="currentUser.roles[0].name == 'Driver'" 
         
    
    -->
    <li (click)="router.navigate(['/initiate-journey'])" routerLinkActive="active" routerLink="/initiate-journey">    
      <img src="assets/images/Jms_assets/ic_plus_black.svg">
      <h3>Initiate Journey</h3>
    </li>
    <li routerLinkActive="active" routerLink="/requests">
      <img src="assets/images/Jms_assets/ic_trip_black.svg" >
      <h3>My Requests</h3>
    </li>
    <li routerLinkActive="active" routerLink="/calendar">
      <img src="assets/images/Jms_assets/ic_calendar.svg">
      <h3>Journey Calendar</h3>
    </li>
    <li routerLinkActive="active" routerLink="/driver/journey" >
      <img src="assets/images/Jms_assets/ic_pending_black.svg">
      <h3>Current Journey</h3>
    </li>
    <li>
      <h3 *ngIf="currentUser" (click)="logout()">
        <img src="assets/images/Jms_assets/ic_logout.svg">
        <a>Logout</a>
      </h3>
    </li>
  </ul>
</aside>
<!--end aside menu-->