<div>
  <section id="homePage" class="text-center">
    <div class="mobileContainer">
      <h2 class="sectionHeader">Welcome <strong>{{currentUser.fullName}}</strong></h2>
      <div class="row">

        <!-- Start App Dashboard Items -->
        <!--  *ngIf="currentUser.roles[0].name == 'Product Line'"
              *ngIf="currentUser.roles[0].name != 'JMS Admin'"
              *ngIf="currentUser.roles[0].name == 'JMC' || currentUser.roles[0].name == 'QHSE' ||currentUser.roles[0].name == 'GBM'||currentUser.roles[0].name == 'Operation Manager'"
              *ngIf="currentUser.roles[0].name == 'Driver'"
              *ngIf="currentUser.roles[0].name == 'JMS Admin'"
              *ngIf="currentUser.roles[0].name == 'JMS Admin'"
              *ngIf="currentUser.roles[0].name == 'JMS Admin'"
            -->
        <div class="col-6">
          <div id="Init_Jou_0" class="homePageAction initJourney" routerLinkActive="active" routerLink="/initiate-journey" >
            <img src="assets/images/Jms_assets/ic_plus.svg" style="width:40px;">
            <h2>Initiate Journey</h2>
          </div>
        </div>
        <!-- *ngIf="currentUser.roles[0].name == 'JMC' || currentUser.roles[0].name == 'Dispatcher' || currentUser.roles[0].name == 'QHSE' ||currentUser.roles[0].name == 'GBM' || currentUser.roles[0].name == 'Driver'" -->
        <div class="col-6" >
          <div id="dvMyRequests" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/requests" >
            <img src="assets/images/Jms_assets/ic_trip.svg" style="width:40px;">
            <h2>My Requests</h2>
          </div>
        </div>
        <div class="col-6" >
          <div id="dvMyRequests" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/journey-calendar" >
            <img src="assets/images/Jms_assets/ic_calendar.svg" style="width:40px;">
            <h2>Journey Calendar</h2>
          </div>
        </div>
        <div class="col-6" >
          <div id="Pending_Jou_0" class="homePageAction pendingJourney" (click)="CurrentJourny()">
            <img src="assets/images/Jms_assets/ic_pending.svg" style="width:40px;">
            <h2>Current Journey</h2>
          </div>
        </div>
        <!-- End App Dashboard Items -->
        <!-- Start Admin Dashboard Items -->
        <div class="col-6" >
          <div id="dvAdminRolesManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/role" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Roles Management</h2>
          </div>
        </div>
        <div class="col-6" >
          <div id="dvAdminUsersManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/driver" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Drivers Management</h2>
          </div>
        </div>
        <div class="col-6" >
          <div id="dvAdminManagersManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/manager" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Managers Management</h2>
          </div>
        </div>
         <div class="col-6" >
          <div id="dvAdminCheckpointsManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/checkpoints" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Checkpoints Management</h2>
          </div>
        </div>
        <div class="col-6">
          <div id="dvAdminGroupsManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/teams" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Teams Management</h2>
          </div>
        </div>
        <div class="col-6" >
          <div id="dvAdminWorkforceManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/workforces" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Workforces Management</h2>
          </div>
        </div>
        <div class="col-6">
          <div id="dvAdminReportsManagement" class="homePageAction journeyTrip" routerLinkActive="active" routerLink="/admin/reports" >
            <img src="assets/images/Jms_assets/ic_trip.svg">
            <h2>Reports</h2>
          </div>
        </div>
        <!-- End Admin Dashboard Items -->
      </div>
    </div>
  </section>
</div>
<!--end home page actions-->
