<!-- app.component.html -->
<div class="container text-center">
    <h2>Drivers</h2>
    <button style="float:left;" mat-button mat-flat-button color="primary" data-toggle="modal"
        data-target="#exampleModal3">Add Driver</button>

    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="roleName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
        </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> 
                <a *ngIf="!element.isHavingActiveJourney" class="btn btn-success" style="color:white;" (click)="ActivateOrDeactivate(element)">{{element.isActive? 'Active': 'Deactive'}}</a>
                <span *ngIf="element.isHavingActiveJourney">{{element.isActive? 'Active': 'Deactive'}}</span> 
            /td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="gatePassStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pass Status </th>
            <td mat-cell *matCellDef="let element"> {{element.gatePassStatus}} </td>
        </ng-container>
        <!-- Name Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="worForceTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> WorForce Title </th>
            <td mat-cell *matCellDef="let element"> {{element.worForceTitle}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="teamName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </th>
            <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
        </ng-container>
        <!-- Action Column -->       
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <a class="btn btn-success" style="color:white;" (click)="Update(element)">Update</a>
                <a class="btn btn-danger" style="color:white;" (click)="Delete(element)">Delete</a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
</div>
<div class="col-4 modalAndBtnCont">
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{id>0? 'Update Driver': 'Add Driver'}}</h5>
                    <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Username</label>
                            <input type="text" [ngClass]="{'form-control':true,
                          'is-invalid':((Username==''||Username==null)&&isSubmitted)}" [(ngModel)]="Username"
                                placeholder="Username" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="Username==''&&isSubmitted">Username is required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Email</label>
                            <input type="email" [ngClass]="{'form-control':true,
                          'is-invalid':((Email==''||Email==null)&&isSubmitted)}" [(ngModel)]="Email"
                                placeholder="Email" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="Email==''&&isSubmitted">Email is required</div>
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="!validateEmail()&&isSubmitted">Enter valid email</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Fullname</label>
                            <input type="text" [ngClass]="{'form-control':true,
                          'is-invalid':((Fullname==''||Fullname==null)&&isSubmitted)}" [(ngModel)]="Fullname"
                                placeholder="Fullname" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="Fullname==''&&isSubmitted">Fullname is required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Team</label>
                            <select [ngClass]="{'form-control':true,
                          'is-invalid':((TeamId==null)&&isSubmitted)}" [(ngModel)]="TeamId">
                                <option *ngFor="let item of Teams" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="TeamId==null&&isSubmitted">Team is required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Workforce</label>
                            <select [ngClass]="{'form-control':true,
                          'is-invalid':((WorkForceId==null)&&isSubmitted)}" [(ngModel)]="WorkForceId">
                                <option *ngFor="let item of WorkForces" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="WorkForceId==null&&isSubmitted">Workforce is required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Gate Pass Status</label>
                            <input type="text" [ngClass]="{'form-control':true}" [(ngModel)]="GatePassStatus"
                                placeholder="Gate Pass Status" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Training Details</label>
                            <input type="text" [ngClass]="{'form-control':true}" [(ngModel)]="TrainingDetails"
                                placeholder="Training Details" />
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">License No</label>
                            <input type="text" [ngClass]="{'form-control':true,
                          'is-invalid':((LicenseNo==''||LicenseNo==null)&&isSubmitted)}" [(ngModel)]="LicenseNo"
                                placeholder="License No" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="LicenseNo==''&&isSubmitted">License No is required</div>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">License Expiry Date</label>
                            <input type="date" [ngClass]="{'form-control':true,
                          'is-invalid':((LicenseExpiryDate==''||LicenseExpiryDate==null)&&isSubmitted)}"
                                [(ngModel)]="LicenseExpiryDate" placeholder="LicenseExpiryDate" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="(LicenseExpiryDate==''||LicenseExpiryDate==null)&&isSubmitted">License Expiry
                                Date is required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault"><input type="checkbox"
                                    [ngClass]="{'form-control':true}" value="true" [(ngModel)]="IsActive" />
                                Active</label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Password</label>
                            <input type="text" [ngClass]="{'form-control':true,
                          'is-invalid':((Password==''||Password==null)&&isSubmitted)}" [(ngModel)]="Password"
                                placeholder="Password" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="Password==''&&isSubmitted">Password is required</div>
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="Password.length<8&&isSubmitted">Password less than 8 character</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Confirm Password</label>
                            <input type="text" [ngClass]="{'form-control':true,
                          'is-invalid':((ConfrimPassword==''||ConfrimPassword==null)&&isSubmitted)}"
                                [(ngModel)]="ConfrimPassword" placeholder="Fullname" />
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="ConfrimPassword==''&&isSubmitted">Confrim Password No is required</div>
                            <div style="display:block!important;" class="invalid-feedback"
                                *ngIf="ConfrimPassword!=Password&&isSubmitted"> Password does not match</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="sumbitToInitiate" (click)="id>0? UpdateRowData(): addRowData()">Submit</button>
            </div>
            </div>
        </div>
    </div>
</div>